

/* colors:1-main:#18191a,2-##282a2f,3-#35383b */
html{
  overflow-x: hidden;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: #18191a;
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar { 
  width: 5px;
  background-color: rgb(36, 37, 38);
} 
::-webkit-scrollbar-thumb {
  height: 100px;
  background-color: #ffffff8a;
  border-radius: 15px;
}
input[type="file"] {
  display: none;
}
/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
::placeholder {
    color: rgba(192, 192, 190);
    opacity: 1; /* Firefox */
  }
  .show{
    width: 470px;
    height: 540px;
    background-color: #242526;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 7px;
    z-index: 1002;


 }
  .dontShow{
    display: none;
  }

  .showBlur{
    width: 100%;
    height: 100%;
    background-color: #000000a3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1001;
 }
  .dontShowBlur{
    display: none;
  }

  .imgParent:hover{
    background-color: rgb(56 56 56);
  }
  .postToggleTrue{
    color: white;
    cursor: pointer;
    margin: 0px;
  }
  .postToggleFalse{
    color: #797979;
    cursor: pointer;
    margin: 0px;
  }
  .storyToggleTrue{
    color: #797979;
    cursor: pointer;
    margin: 0px;
  }
  .storyToggleFalse{
    color: white;
    cursor: pointer;
    margin: 0px;
  }
  .showPost{
    margin-top: 17px;
    height: 450px;
    display: flex;
    flex-direction: column;

  }
  .dontShowPost{
    display: none;
  }

  .showStory{
    margin-top: 17px;
    height: 450px;
    display: flex;
    flex-direction: column;
  }
  .dontShowStort{
    display: none;
  }



  .valoDefult{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 62px;
    height: 66px;
    cursor: pointer;
  }
  .valoDefultDis{
    display: none;
  }
  .valo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 62px;
    height: 66px;
    cursor: pointer;

  }
  .valoDis{
    display: none;
  }



  .lolDefult{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 62px;
    height: 66px;
    cursor: pointer;
  }
  .lolDefultDis{
    display: none;
  }
  .lol{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 62px;
    height: 66px;
    cursor: pointer;

  }
  .lolDis{
    display: none;
  }


  .csgoDefult{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 62px;
    height: 66px;
    cursor: pointer;
  }
  .csgoDefultDis{
    display: none;
  }
  .csgo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 62px;
    height: 66px;
    cursor: pointer;

  }
  .csgoDis{
    display: none;
  }

  .warzDefult{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 62px;
    height: 66px;
    cursor: pointer;
  }
  .warzDefultDis{
    display: none;
  }
  .warz{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 62px;
    height: 66px;
    cursor: pointer;

  }
  .warzDis{
    display: none;
  }
  .login{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .loginDis{
    display: none;
  }
  .signup{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .signupDis{
    display: none;
  }

  
  
  

.contentParent{
  display: flex;
  width: 594px;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}



.BSideBarGrandba{
  position: fixed;
  right: 0px;
  display: flex;
  justify-content: end;
  width: 500px;
  height: 610px;
}
.BSideBar{
  overflow: auto;
    display: flex;
    flex-direction: column;
    height: 579px;
    width: 360px;
    margin-right: 3px;
    gap: 15px;
}

textarea::-webkit-scrollbar {
  width: 8px;
}



textarea::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: darkgrey;
}


.BSideBar::-webkit-scrollbar {
  width: 8px;
}

.BSideBar::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(51, 51, 51)
}



.uploadParent{
  height: 338px;
  width: 454px;
  margin-left: 7px;
  border: 1px solid rgb(89 89 89);
  border-radius: 4px;
}
.upload2{
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 432px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.uploadHover{
  background-color: rgb(51 51 51);
  height: 93.4%;
  width: 432px;
  margin: 11px;
  border-radius: 4px;
}
.uploadHover:hover .upload{
  background-color: rgb(88, 88, 88);

}
.btnSumbitPostParent{
  display: flex;
  align-content: center;
  justify-content: center;
  height: 76px;
  flex-wrap: wrap;
  margin-top: 15px;
}
.btnSumbitPost{
  height: 29px;
  width: 140px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}



.LikeDefultDis{
  display: none;
}

.LikeDis{
  display: none;
}








@media (max-width:1460px) {
  .BSideBar{
    width: 315px;
  }
  .ASideBarParent{
    width: 260px;
  }
  .navBarGamesCont{
    width: 465px;
    gap: 73px;
}
  .storyGrandCont{
    gap: 17px;
  }
  .storyParent {
  width: 53px;
  }
  .storyCont{
  height: 51px;
  width:51px ;
  }
  .storyImg{
  height: 49px;
  width: 49px;
  }
}
@media (max-width:1350px  ) {
  .navBarSearch{
    width: 182px;
  }
  .BSideBar{
    width: 290px;
  }
  .ASideBarParent{
    width: 253px;
  }
  .navBarGamesCont{
    width: 450px;
    gap: 71px;
  }
  .storyGrandCont{
    gap: 16px;
  }
.storyParent {
  width: 52px;
}
.storyCont{
  height: 50px;
  width:50px ;

}
.storyImg{
  height: 48px;
  width:48px ;
}

}

@media (max-width:1250px  ) {
  .storyGrandCont{
    gap: 14px;
  }
  .navBarSearch{
    width: 180px;
  }
  .BSideBar{
    width: 255px;
  }
  .ASideBarParent{
    width: 243px;
  }
  .navBarGamesCont{
    width: 425px;
    gap: 70px;
  }
  /* .storyGrandCont{
    gap: 16px;
  }
.storyParent {
  width: 51px;
}
.storyCont{
  height: 49px;
}
.storyImg{
  height: 47px;
} */

}

@media (max-width:1185px  ) {
  .storyGrandCont{
    gap: 11px;
  }
  .navBarSearch{
    width: 178px;
  }
  .BSideBar{
    width: 228px;
  }
  .ASideBarParent{
    margin-left: 20px;
  }
  .navBarGamesCont{
    width: 405px;
    gap: 65px;
  }
  /* .storyGrandCont{
    gap: 15px;
  }
.storyParent {
  width: 50px;
}
.storyCont{
  height: 48px;
}
.storyImg{
  height: 46px;
} */

}

@media (max-width:1130px  ) {
  .storyGrandCont{
    gap: 8px;
  }
  .navBarSearch{
    width: 163px;
  }
  .BSideBar{
    width: 225px;
  }
  .ASideBarParent{
    margin-left: 4px;
  }
  .navBarGamesCont{

    width: 380px;
    gap: 65px;
  }
  /* .storyGrandCont{
    gap: 15px;
  }
.storyParent {
  width: 50px;
}
.storyCont{
  height: 48px;
}
.storyImg{
  height: 46px;
} */

}



@media (max-width:1020px ) {
  .storyGrandCont{
    gap:17px;
  }
  ::-webkit-scrollbar { 
    width: 4px;
  } 
  .BSideBar{
    display: none
  }
  .ASideBarParent{
    position: absolute;
    margin-left: 0px;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    height: 87px;
    width: 468px;
  }
  .contentParent{
    margin-top: 125px;
  }
  .navBarSearch{
    display: none;
  }
  .navBarSearchIcon{
    display: none;
  }
  .navbarChatImgNone{
    display: none;
  }
  .navbarProfileImgNone{
    display: none;
  }
  .navBarGamesCont{
    width: 443px;
    gap: 80px;
  }
  .navbarProfileImgCont{
    right: 40px;
  } 
  .iconCont{
    margin-left: 40px;
  }

}

@media (max-width:720px  ) {

  ::-webkit-scrollbar { 
    width: 3px;
  } 

  .navbarProfileImgCont{
    display: none;
  }
  .iconCont{
    display: none;
  }
  .AsideBarToplayIcon{
    display: block;
  }
  /* .storyGrandCont{
    gap: 15px;
  }
.storyParent {
  width: 50px;
}
.storyCont{
  height: 48px;
}
.storyImg{
  height: 46px;
} */

}

@media(max-width:490px){


.navBarGamesCont {
  width: 421px;
  gap: 75px;
}
.ASideBarParent{
  width: 450px;
}
.contentChildCont{
  width: 450px;

}
.storyGrandCont{
  gap: 15px;
}
.storyParent {
  width: 50px;
}
.storyCont{
  height: 48px;
  width:48px ;

}
.storyImg{
  height: 46px;
  width: 46px;
}
}


@media(max-width:470px){

.navBarGamesCont {
  width: 390px;
  gap: 54px;
}
.ASideBarParent{
  width: 419px;
}
.contentChildCont{
  width: 419px;

}

.storyGrandCont{
  gap: 9px;
}
/* .storyParent {
  width: 50px;
}
.storyCont{
  height: 48px;
}
.storyImg{
  height: 46px;
} */
}

@media(max-width:435px){
  .navBarGamesCont {
    width: 354px;
    gap: 42px;
  }
  .ASideBarParent{
    width: 388px;
  }

  .contentChildCont{
    width: 388px;
  }
  
  .storyGrandCont{
    gap: 6px;
  }
  .storyParent {
    width: 48px;  
  }
  .storyCont{
    height: 46px;
    width:46px ;

  }
  .storyImg{
    height: 44px;
    width: 44px;
  }
  }

  @media(max-width:400px){



    .navBarGamesCont {
    width: 332px;
    gap: 40px;
    }

    .ASideBarParent{
      width: 361px;
    }
  
    .contentChildCont{
      width: 361px;
    }
    
    .storyGrandCont{
      gap: 5px;
    }
    .storyParent {
      width: 46px;  
    }
    .storyCont{
      height: 44px;
      width:44px ;

    }
    .storyImg{
      height: 42px;
      width: 42px;
    }
    }


    
    @media(max-width:366px){
      .navbarNavbar{
        height: 56px;
      }
    .valo{
      width: 55px;
      height: 55px;
    }
    .lol{
      width: 55px;
      height: 55px;
    }
    .all {
      font-size: 17px;
    }
    .allDefult {
      font-size: 17px;
  }
    .csgo{
      width: 55px;
      height: 55px;
    }
    .warz{
      width: 55px;
      height: 55px;
    }

    .valoDefult{
      width: 55px;
      height: 55px;
    }
    .lolDefult{
      width: 55px;
      height: 55px;
    }
    .csgoDefult{
      width: 55px;
      height: 55px;
    }
    .warzDefult{
      width: 55px;
      height: 55px;
    }

      .navBarGamesCont {
      width: 300px;
      gap: 37px;  
      }
  
      .ASideBarParent{
        width: 323px;
      }
    
      .contentChildCont{
        width: 323px;
      }
      
      .storyGrandCont{
        margin: 63px 0px 20px 0px;
      }
      .storyParent {
        width: 40px; 
      }
      .storyCont{
        height: 38px;
        width:38px ;

      }
      .storyImg{
        height: 36px;
        width: 36px;
      }
      }






      @media(max-width:330px){
        .navbarNavbar{
          height: 53px;
        }
      .valo{
        width: 51px;
        height: 51px;
      }
      .lol{
        width: 51px;
        height: 51px;
      }
      .csgo{
        width: 51px;
        height: 51px;
      }
      .warz{
        width: 51px;
        height: 51px;
      }
  
      .valoDefult{
        width: 51px;
        height: 51px;
      }
      .lolDefult{
        width: 51px;
        height: 51px;
      }
          .all {
            font-size: 17px;
        }
        .allDefult{
          font-size: 17px;
      }
      .csgoDefult{
        width: 51px;
        height: 51px;
      }
      .warzDefult{
        width: 51px;
        height: 51px;
      }
  
        .navBarGamesCont {
          width: 278px;
          gap: 24px;
        }
    
        .ASideBarParent{
          width: 289px;   
          height: 75px;
      }
      .contentParent {
        margin-top: 107px;
    }
      
        .contentChildCont{
          width: 289px;
        }
        
        .storyGrandCont{
          margin: 52px 0px 4px 0px;
        }
        .storyParent {
          width: 35px;
        }
        .storyCont{
          height: 33px;
          width:33px ;

        }
        .storyImg{
          height: 31px;
          width: 31px;
        }
        }






        @media(max-width:295px){
          .navBarGamesCont {
            width: 89%;
            
          }
      
          .ASideBarParent{
            width: 95%;   
            height: 75px;
        }
        .contentParent {
          margin-top: 107px;
          width: 100%;
      }
        
          .contentChildCont{
            width: 95%;
          }
          
          .storyGrandCont{
            margin: 52px 0px 4px 0px;
            width: 100%;
          }
          .storyParent {
            width: 11%;
          }
          .storyCont{
            height: 42%;
            width: 94%;
  
          }
          .storyImg{
            height: 92%;
            width: 92%;
          }
          }

          @media(max-width:243px){
            .storyGrandCont{
              display: none;
              
            }
            .contentParent {
              margin-top: 161px;
          }
          .ASideBarParent{
            top: 65px;
          }
          }

          @media(max-width:232px){
            .valo{
              width: 40px;
              height: 40px;
            }
            .lol{
              width: 40px;
              height: 40px;
            }
            .csgo{
              width: 40px;
              height: 40px;
            }
            .warz{
              width: 40px;
              height: 40px;
            }
        
            .valoDefult{
              width: 40px;
              height: 40px;
            }
            .lolDefult{
              width: 40px;
              height: 40px;
            }
                .all {
                  font-size: 14px;
              }
              .allDefult{
                font-size: 14px;
            }
            .csgoDefult{
              width: 40px;
              height: 40px;
            }
            .warzDefult{
              width: 40px;
              height: 40px;
            }
          }