







  .ASideBarParent{
    width: 290px;
    height: 98px;
    margin-left: 40px;
    border-radius: 6px;
    background-color: rgb(36, 37, 38);
    position: fixed;
    left: 0px;
}
.ASideBar{
    padding: 4px 0px 0px 14px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 47%;
}
.ASideBartImgCont{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid rgb(89, 91, 93);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.ASideBarImg{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
}

.aSideBarUsername{
    display: flex;
    margin: 0px 0px 0px 10px;
    flex-wrap: wrap;
    align-content: center;
    font-size: 12px;
    font-weight: 900;
    color: white;
    cursor: pointer;
}
.aSideBarUploadParent{
    display: flex;
    height: 48%;
    flex-wrap: wrap;
    align-content: end;
    justify-content: center;
}
.aSideBarUpload{
    width: 76%;
    height: 24px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #c7c7c7;
    color: black;
    cursor: pointer;
}
.AsideBarToplayIcon{
    display: none;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 6px;
    top: 0.5px;
    cursor:pointer
}

.AsideBarShowToplayBlur{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #00000075;
    z-index: 1001;
}

.AsideBarshowToplay{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 313px;
    height: 174px;
    background-color: rgb(36, 37, 38);
    z-index: 1002;
    border-radius: 6px;
    flex-direction: column;
}