








.storyParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 54px;
    flex-wrap: wrap;
    height: 73px;
    cursor: pointer;
}

.storyCont{
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    margin: 0px;
    width: 52px;
    height: 52px;
    border: 1px solid rgb(89, 91, 93);
    border-radius: 50%;
}

.storyImg{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.storyUsername{
    display: flex;
    justify-content: center;
    margin: 5px 2px 0px 2px;
    color: white;
    width: 50px;
    font-size: 10px;
    font-weight: 900;
}